@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');
:root{
    --bright-orange:hsl(31, 77%, 52%);
    --dark-cyan:hsl(184, 100%, 22%);
    --very-dark-cyan:hsl(179, 100%, 13%);
    --para: hsla(0, 0%, 100%, 0.75);
    --light-gray:hsl(0, 0%, 95%);
}

body{
    font-family: 'Lexend Deca',sans-serif;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--light-gray);
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.container{
    margin: 0 auto;
    max-width: 960px;
}
h2{
   font-family: 'Big Shoulders Display', cursive;
   font-size: 30px;
   color: var(--light-gray);
   text-transform: uppercase;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 12px;
    margin: 2rem;
    overflow: hidden;
}
.card{
    padding: 40px;
}
.card-sedan{
    background-color: var(--bright-orange);
}
.card-suvs {
    background-color: hsl(184, 100%, 22%);
}

.card-luxury {
    background-color: hsl(179, 100%, 13%);
}
.info{
color: hsla(0, 0%, 100%, 0.75);
line-height: 1.6;
}
.btn {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 13px 27px;
    border-radius: 26px;
    margin-top: 60px;
    display: inline-block;
    border: 2px solid hsl(0, 0%, 95%);
    transition: all .4s ease-in-out;
}

.btn:hover {
    color: hsl(0, 0%, 95%);
    background-color: hsla(0, 0%, 100%, 0);
    border-color: hsl(0, 0%, 95%);
}

.btn-sedans {
    color: hsl(31, 77%, 52%);
    background-color: hsl(0, 0%, 95%);
}

.btn-suvs {
    color: hsl(184, 100%, 22%);
    background-color: hsl(0, 0%, 95%);
}

.btn-luxury {
    color: hsl(179, 100%, 13%);
    background-color: hsl(0, 0%, 95%);
}

@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 425px) {
    .wrapper {
        margin: 2rem .5rem;
    }
}